.not-found {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.not-found h1 {
    font-size: 120px;
}

.not-found a {
    text-decoration: none;
    background-color: #116feb;
    color: #fff;
    padding: 12px;
    margin-top: 15px;
    border-radius: 8px;
}